name: Java CI
on: 
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build Mysql Container
      run: cd mysql && mysql -uroot -proot < mysql.sql
    - name: test
      run: pwd && ls
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: pwd && ls
      - name: Build with Maven
        run: mvn package --file pom.xml
